<div class="table">
  <div class="row">
    <div class="cell" *ngFor="let title of getHeader()">{{title}}</div>
  </div>
  <div class="row" *ngFor="let item of list">
    <div class="cell" *ngFor="let property of getProperties(); let i = index">
      <div *ngIf="editID != item.id">{{item[property]}}</div>
      <div *ngIf="editID == item.id"><input name="{{property}}" placeholder="{{getHeader()[i]}}" [(ngModel)]="item[property]"></div>
    </div>
    <div class="cell" *ngIf="editID != item.id">
      <button (click)="editID = item.id">Edit</button>
      <button (click)="delete(item.id)">Delete</button>
    </div>
    <div class="cell" *ngIf="editID == item.id">
      <button (click)="edit(item)">Save</button>
    </div>
  </div>
  <form *ngIf="showAddForm" class="row" (ngSubmit)="submit()">
    <div class="cell" *ngFor="let property of getProperties(); let i = index">
      <input name="{{property}}" placeholder="{{getHeader()[i]}}" [(ngModel)]="newItem[property]">
    </div>
    <div class="cell"><button>Save</button></div>
  </form>
</div>
<button (click)="showAddForm = !showAddForm">Add</button>
