div#main {
  display: grid;
  grid-template-areas:
    'header header'
    'menu   content';
  grid-template-columns: 1fr 5fr;
  text-align: center;
}

div#header {
  grid-area: header;
  border: 1px solid black;
}

div#left-menu {
  grid-area: menu;
  border: 1px solid black;
  display: inline-block;
  text-align: left;
}

div#content {
  grid-area: content;
  border: 1px solid black;
  padding: 50px;
}
